body, html {
    height:100%;
    width: 100%;
}
.buttonLogo{
    border: 1px solid #2E455A;
    background-color: #FFFFFF;
    color: #5B7994;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    text-decoration:none;
    width: 180px;
    height: 40px;
    padding: 2px 10px;
    cursor: pointer;

    display: flex;
    align-items: center; 
    
        img{
            margin: 7px;
        }

        
   
}

