body, html {
    height:100%;
    width: 100%;
};

.text-formOnboarding-container{
    background: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    font-family: Open Sans;

        .text-formOnboarding {
            padding: 20px 15px 15px 15px;
            box-shadow: 0 0 5px #f6f4f4;
        };

        .title-formOnboarding{
            color: #5B7994;
            font-size: 16px;
            margin-bottom: 10px;
        };

};

.text-question{
    font-style: normal;
    color: #2E455A;
    font-size: 20px;
    margin-bottom: 20px;
};

.button-order p{
    color: #90A4AE;
    font-size: 16px;
    margin-bottom: 10px;

};

.inputQuestions{
    display: flex;
    flex-direction: column;
    margin-top:10px;

    label{
        margin-left: 10px;
        font-size: 16px;
        color: #2E455A;
    };
};

.area-choice{
    border-radius: 5px;
    border:1px solid rgba(97, 95, 95, 0.6);
    padding: 10px;
    margin-top:10px;
};

