body, html {
    height:100%;
    width: 100%;
};

.home-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 5% 60% 20% 5%;
    grid-template-areas: 
    ". ."    
    "img navBar"
    "img text"
    "img btn-logo"
    ;

        .btn-logo{
            align-items: end;
        };

        .image{
            align-self: stretch;
        };
};

.image{
    grid-area: img;
    
};

.navBar{
    grid-area: navBar;
    justify-self: flex-end;
    margin-right: 20%;

        img{
            margin-left: 10px;
        };
   
};

.btn-logo{
    grid-area: btn-logo;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15%;    
    color: #2E455A;   
     
        p{
            margin-right: 10px;
        }; 
};

.text-container{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
};

.title{   
    color: #2E455A;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 59px;
    margin-bottom: 30px;
    margin-top: 18px;
};

.image, .text-container{
    padding: 0 30px;
};
