body, html {
    height:100%;
    width: 100%;
}

.last-page-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:      
    "navBar navBar"
    "container container"
    "container container"
    "footer footer"
    ;

   
}

.content-container{
    grid-area: container;
    display: flex;  
    width: 100%;
    height: 100%; 
    align-items: center; 
}

.navBar-complete{
    grid-area: navBar;
   
}


.title{   
    color: #2E455A;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 59px;
   
}


