body, html {
    height:100%;
    width: 100%;
}
.nav-container-percentage-bar{
    width: 100%;    
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "logoBtn bar .";

        p{
            grid-area: logoBtn;
            margin: 0 30px;
        }

        .percentage-container{
            width: 100%;
            grid-area: bar;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }

        .percentage-bar{
            width: 95%;
            border-radius: 5px;
            height: 8px;
            background: #E3F2FD;

        }
        span{
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
        }
   
    
        img{
            margin-right: 10px;
        }
}