body, html {
    height:100%;
    width: 100%;
}
html{
    background-color: #E5E5E5;
}
.search-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:      
    "navBar navBar navBar"
    ". form ."
    ". form ."
    "footer footer footer"
    ;

}

.navBar-search{
    grid-area: navBar;   
}
.form-container{
    grid-area: form;
}
.footer{
    grid-area: footer;
    align-self: flex-end;
}





