body, html {
    height:100%;
    width: 100%;
}

.text-section-container{
    background: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    .text-section {
        padding: 20px 15px 15px 15px;
        box-shadow: 0 0 5px #f6f4f4;
    }

    .text-section p{
        font-style: normal;
        color: #2E455A;
        margin-bottom: 20px;
    }

    .text-section h1{   
        font-family: Open Sans;     
        font-weight: bold;
        font-size: 34px;
        
    }

    .text-section p{       
        font-weight: normal;
        font-size: 16px;

    }
    .title-section{
        display: flex;
        justify-content: center;
        font-style: normal;
        color: #2E455A;
        margin-bottom: 34px;
    }

}

