.footer-container{
    display: flex;
    align-items: center;

    p{
        
        margin: 0 16px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #2E455A;
    
    }

}