body, html {
    height:100%;
    width: 100%;
}



footer{
    background-color: #FFFFFF;
}

.container-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    div{
        margin-right: 10px;
    }
    
}

.logo-btn-container{
    color: #2E455A;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
     
     p{
         margin-right: 10px;
     }
}