body, html {
    height:100%;
    width: 100%;
}

html{
    background-color: #E5E5E5;
}
.static-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:      
    "navBar navBar navBar"
    ". introduction ."
    ". introduction ."
    "footer footer footer"
    ;

}

.navBar-percentage{
    grid-area: navBar;   
}
.introduction-container{
    grid-area: introduction;
    align-self: center;
}
.footer-container{
    grid-area: footer;
    align-self: flex-end;
}





